# Dependacies
node_modules/
.pnp
.pnp.js

# Build 
.next/
dist/
build/
out/
.supabase/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# Secrets
.env
.env.*
!.env.example
.secrets

# Редактори / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
desktop.ini